.debug [class*='col-']{
  height: 100px;
  border: 1px solid black;
}
.debug .h_100{
  height: 100px;
}
.debug .h_200{
  height: 200px;
}
.debug .h_300{
  height: 300px;
}
.debug .h_400{
  height: 400px;
}
.debug .h_500{
  height: 500px;
}
.bg_blue{
  background-color: #2285FD;
}
.bg_darkblue{
  background-color: #031C4E;
}
.bg_white{
  background-color: white;
}
/* inizio header */
/* inizio nav */
body{
  font-family: 'Roboto', sans-serif;
  background-color: #F3F5F9;
}
p{
  line-height: 1.6;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
nav{
  background-color: #FFFFFF;
  height: 60px;
  line-height: 60px;
}
nav .btn{
  color: #006AFF;
  background-color: #FFFFFF;
  border: 1px solid #006AFF;
  font-weight: 500;
}
nav.navbar ul li a{
  padding: 20px;
}
.navbar-default .navbar-nav>li>a{
  color: #031C4E;
  font-weight: 500;
}
nav.navbar a img{
  height: 35px;
}
i.fas.fa-bars{
  color: #3A8AFF;
  line-height: 60px;
}

/* inizio jumbotron */
.jumbotron{
  background-color: rgb(0, 105, 255);
  background-image: url('../img/bg-home-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0;
  margin-top: 60px;
}
.jumbotron h1{
  font-size: 58px;
  font-weight: 900;
}
.jumbotron p{
  font-weight: lighter;
  color: #BBCDFF;
}
.jumbotron .container .row div:last-child{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .jumbotron .container .row div:last-child {
    margin: auto;
  }
}
.jumbotron .container .row div:last-child h2{
  font-weight: 700;
  font-size: 35px;
  color: #031C4E;
  text-align: center;
}
.jumbotron .container .row div:last-child h3{
  font-weight: 700;
  font-size: 35px;
  color: #006AFF;
  text-align: center;
}
.jumbotron .container .row div:last-child .form-control{
  margin: 5px 0;
  }
.jumbotron .container .row div:last-child button{
  margin: 10px 0;
  font-weight: 500;
}
.jumbotron .container .row div:last-child button.first{
  background-color: #579AFF;
  color: white;
  border: none;
}
.jumbotron .container .row div:last-child button.second{
  background-color: #FFFFFF;
  color: #626262;
}
.jumbotron .container .row div:last-child button.second i{
  margin-right: 10px;
}
.jumbotron .container .row div:last-child p{
  font-size: 15px;
  color: #44567A;
  font-weight: 400;
}
.jumbotron .container .row div:last-child p a{
  color: #006AFF;
  font-weight: 400;
  text-decoration: underline;
}
/* inzio main */
/* inizio sezione innovative */
#innovative{
  text-align: center;
  padding: 30px;
}
#docker{
  background-image: url('../img/logo_docker.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
#gitlab{
  background-image: url('../img/logo_gitlab.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
#slack{
  background-image: url('../img/logo_slack.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
#hashicorp{
  background-image: url('../img/logo_hashicorp.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
#rockerbox{
  background-image: url('../img/rockerbox-logo.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
#splunk{
  background-image: url('../img/logo_splunk.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
#innovative p.first{
  font-size: 20px;
  color: #6F7B97;
  font-weight: 400;
  text-transform: uppercase;
}
#innovative .row:nth-child(2) [class*='col-']{
  height: 100px;
  margin: 20px 0;
}
#innovative p a{
  font-size: 20px;
  color: #0771FF;
  font-weight: 400;
  text-decoration: none;
}
/* inizio sezione deploy */
#deploy{
  background-color: white;
  text-align: center;
  padding: 40px;
}
#deploy .row:first-child h2{
  font-size: 36px;
  color: rgb(3, 27, 78);
  margin: 20px 0;
}
#deploy .row:first-child p{
  font-size: 20px;
  color: #5B6987;
  margin: 20px 0;
}
#deploy img{
  margin-top: 20px;
}
#deploy ul{
  list-style-type: none;
  border-left: 2px solid #75809A;
}
#deploy ul li{
  margin: 15px 0;
}
#deploy ul li a{
  color: #75809A;
  font-size: 18px;
  font-weight: 500;
}
#deploy ul li a:hover{
  text-decoration: none;
  color: rgb(3, 27, 78);
}
#deploy h3{
  font-size: 18px;
  color: rgb(3, 27, 78);
}
#deploy p{
  font-size: 16px;
  color: #5B6987;
}
/* inizio sezione developers */
#developers{
  background-color: #F3F5F9;
  text-align: center;
  padding: 50px;
}
#developers a{
  text-decoration: none;
}
#developers h2{
  font-size: 36px;
  color: rgb(3, 27, 78);
}
#developers p{
  font-size: 20px;
  color: #5B6987;
}
#developers i.fas{
  color: #6F7B97;
  margin-top: 180px;
}
#developers i.fas:hover{
  color: #031C4E;
  margin-top: 180px;
}
#developers img{
  height: 350px;
  margin-top: 50px;
}
#developers h3{
  font-size: 15px;
  color: rgb(3, 27, 78);
}
#developers i.far{
  color: #006AFF;
  margin-right: 3px;
}
#developers i.far:hover{
  background-color: #006AFF;
  border-radius: 50%;
}
/* inizio sezione features */
#features{
  background-color: white;
  text-align: center;
  padding: 40px;
}
#features .row:first-child h2{
  font-size: 36px;
  color: rgb(3, 27, 78);
  margin: 20px 0;
}
#features img{
  margin-top: 20px;
}
#features h3{
  font-size: 18px;
  color: rgb(3, 27, 78);
}
#features p{
  font-size: 16px;
  color: #5B6987;
}
#features p a{
  font-size: 16px;
  color: #0771FF;
  font-weight: 400;
  text-decoration: none;
}
/* inizio sezione service */
#service{
  background-image: url("https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(3, 27, 78);
  text-align: center;
  padding: 40px;
}
#service h2{
  font-size: 36px;
  color: white;
  margin: 20px 0;
}
#service table tbody tr:first-child th,
#service table tbody tr:first-child td{
  border-top: none;
}
#service table tbody tr th{
  color: white;
}
#service table tbody tr td{
  color: #929CB3;
}
#service table tbody tr td a{
  color: #00D7D2;
}
/* inizio sezione teams */
#teams{
  background-color: #F3F5F9;
  text-align: center;
  padding: 50px;
}
#teams a{
  text-decoration: none;
}
#teams h2{
  font-size: 36px;
  color: rgb(3, 27, 78);
}
#teams p{
  font-size: 20px;
  color: #5B6987;
}
#teams i.fas{
  color: #6F7B97;
  margin-top: 180px;
}
#teams i.fas:hover{
  color: #031C4E;
  margin-top: 180px;
}
#teams img{
  height: 350px;
  margin: 50px 0;
}
#teams i.far{
  color: #006AFF;
  margin-right: 3px;
}
#teams i.far:hover{
  background-color: #006AFF;
  border-radius: 50%;
}
/* inizio sezione start */
#start{
  background-color: rgb(0, 105, 255);
  background-image: url("https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 50px;
}
#start h2{
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}
#start .btn-lg{
  background-color: white;
  color: rgb(0, 105, 255);
}
/* inizio footer */
footer{
  background-color: #031C4E;
  padding: 50px;
}
footer a:hover{
  text-decoration: none;
}
footer p{
  font-size: 14px;
  color: #5B7597;
  font-weight: 500;
  margin-top: 10px;
}
footer p.sub{
  font-size: 13px;
  color: #596786;
  font-weight: 500;
}
footer .fab{
  color: #5B7597;
  margin-right: 5px;
}
footer h3{
  color: white;
  margin-bottom: 20px;
  font-size: 14px;
}
footer p a{
  font-size: 14px;
  margin: 10px 0;
  color: #5B7597;
  font-weight: 500;
}
