.debug [class*='col-']{
  height: 100px;
  border: 1px solid black;
}
.debug .h_100{
  height: 100px;
}
.debug .h_200{
  height: 200px;
}
.debug .h_300{
  height: 300px;
}
.debug .h_400{
  height: 400px;
}
.debug .h_500{
  height: 500px;
}
.bg_blue{
  background-color: #2285FD;
}
.bg_darkblue{
  background-color: #031C4E;
}
.bg_white{
  background-color: white;
}
/* inizio header */
/* inizio nav */
nav{
  background-color: #FFFFFF;
}
/* inizio jumbotron */
.jumbotron{
  background-color: #004AFF;
}
/* inzio main */
/* inizio sezione innovative */
#innovative{
  background-color: #F3F5F9;
}
/* inizio sezione deploy */
#deploy{
  background-color: rgb(105, 54, 199);
}
/* inizio sezione developers */
#developers{
  background-color: rgb(68, 86, 255);
}
/* inizio sezione features */
#features{
  background-color: #FFFFFF;
}
/* inizio sezione service */
#service{
  background-color: #0032AE;
}
/* inizio sezione teams */
#teams{
  background-color: #F3F5F9;
}
/* inizio sezione start */
#start{
  background-color: #002DA7;
}
